import React from 'react'

{{componentHeader name stateful}} {
  {{#if stateful}}
  state = {}

  {{#each (componentSortMethods methods getDerivedStateFromProps getSnapshotBeforeUpdate)}}
  {{componentMethodHeader this}} {
    // TODO {{componentInstruction this}}
  }

  {{/each}}
  render() {
    // TODO Specify the component's rendered template.
    return (
      <div>
        {{ name }}
      </div>
    )
  }
  {{~else}}
  return (
    <div>
      {{ name }}
    </div>
  )
  {{~/if}}

}

{{ name }}.defaultProps = {
  // TODO Specify default values for the component's props
}

{{ name }}.propTypes = {
  // TODO Specify all the component's props' types
}

export {
  {{ name }} as default
}
